
(70/70 points) Using Flask you need to setup the following:
(10/10 points) You need to setup a SQLlite database with a minimum of two tables, linked with a foreign key.
(10/10) You need to use Bootstrap in your web templates. I won't dictate exactly what modules you need to use but the
more practice here the better. You need to at least make use of a modal.

(10/10 points) There should be a README.md file in your project that explains what your project is, how to install the pip requirements,
and how to execute the program. Please use the GitHub flavor of Markdown. Be thorough on the explanations. You will need to explain the
steps of initializing the database and then how to run the development server for your project.