{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Issue</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Issue Description</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <div style="display: flex; justify-content: space-between;">
      <input type="submit" value="Submit Ticket">
      <button ="button" type="back" onclick="history.back()">Back</button>
    </div>
  </form>
{% endblock %}